<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
</head>
<body ng-app="testApp" ng-cloak>
    
    <div ng-controller="mainController" style="width:100%;margin-top:32px">
        <div layout="row" layout-align="center center">
            <div flex="80" class="md-whiteframe-1dp" style="padding:32px">
                <md-button class="md-primary md-raised" ng-click="createNewEmployeeClicked()">
                    Create New 
                </md-button>
                
                <md-list >
                    <md-subheader class="md-no-sticky">Employee List</md-subheader>
                    <md-list-item class="md-3-line" ng-repeat="emp in employees" ng-click="null">                      
                      <div class="md-list-item-text" layout="column">
                        <h3>Name:{{ emp.name }}</h3>
                        <h4>Age:{{ emp.age }}</h4>
                        <p>Designation:{{ emp.designation }}</p>
                      </div>
                      <md-button class="md-secondary" ng-click="updateEmployeeClicked(emp,$index)" >
                        Update
                      </md-button>
                      <md-button class="md-secondary" ng-click="deleteEmployeeClicked($index)" >
                        Delete
                      </md-button>
                    </md-list-item>
                </md-list>
            </div>
        </div>
    </div>
  
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
  <!-- Your application bootstrap  -->
  <script type="text/javascript" src="bmo/employee.js"></script>
  <script type="text/javascript" src="app/app.js"></script>
  <script type="text/javascript" src="app/forms/employee_input_form.js"></script>
  
</body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->