<style>
    md-dialog {
    }
</style>
<md-dialog id="EmployeeForm-dialog" >
    <form name="EmployeeForm" ng-submit="submit(EmployeeForm.$valid)" novalidate>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{formTitle}}</h2>
                <span flex></span>
                <button class="md-icon-button md-button md-ink-ripple" type="button">
                    <md-icon aria-label="Close dialog"  aria-hidden="true"
                             ng-click="cancel();">
                        clear
                    </md-icon>
                </button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <md-list ng-cloak style="padding-top:32px">
                <md-list-item >
                    <md-input-container style="width:400px">
                        <label>Employee Name</label>
                        <input id="employeeName"
                               name="employeeName"
                               type="text"
                               placeholder=""
                               ng-model="employeeName"
                               autocomplete="off"
                               minlength="2"
                               maxlength="20"
                               mode="mode"
                               required="" />
                               
                        <div ng-messages="EmployeeForm.employeeName.$error">
                            <div ng-message="required" ng-show="EmployeeForm.employeeName.$error.required">
                                Employee Name is required
                            </div>
                            <div ng-message="minlength" ng-show="EmployeeForm.employeeName.$error.minlength">
                                Employee name has to be atleast 2 characters long.
                            </div>
                        </div>                                             
                        
                    </md-input-container>
                </md-list-item>
                <md-list-item>
                  <md-input-container  style="width:400px">
                        <label>Employee Age</label>
                        <input id="employeeAge"
                               name="employeeAge"
                               type="number"
                               placeholder=""
                               ng-model="employeeAge"
                               autocomplete="off"                               
                               mode="mode"
                               employee-age-validation
                               required="" />

                        <div ng-messages="EmployeeForm.employeeAge.$error">
                            <div ng-message="required" ng-show="EmployeeForm.employeeAge.$error.required">
                                Employee Age is required.
                            </div>
                            <div ng-message="required" ng-show="EmployeeForm.employeeAge.$error.validage">
                                Employee Age must be between 1 to 60.
                            </div>
                        </div>
                                                
                    </md-input-container>
                </md-list-item>
                <md-list-item>
                    <md-input-container style="width:400px">

                        <label>Designation</label>
                        <md-select ng-model="employeeDesignation"
                                    name="empDesignation" required
                        >                            
                            <md-option ng-repeat="desg in designationList" ng-value="desg.name">
                              {{desg.name}}
                            </md-option>
                        </md-select>
                        
                        <div ng-messages="EmployeeForm.empDesignation.$error">
                            <div ng-message="required" ng-show="EmployeeForm.empDesignation.$error.required">
                                Designation is required
                            </div>
                        </div>
                                                

                    </md-input-container>
                    
                </md-list-item>
            </md-list>
        </md-dialog-content>

        <md-dialog-actions layout="row">

            <md-button type="button" class="warning-button dialog-cancel-button" ng-click="cancel();">
                Cancel
            </md-button>

            <md-button type="submit" class="md-raised primary-button dialog-submit-button" >
                Submit
            </md-button>

        </md-dialog-actions>

    </form>
</md-dialog>